---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Studio from "../components/Studio.astro";
import Services from "../components/Services.astro";
import Approach from "../components/Approach.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Studio />
    <Services />
    <Approach />
    <Contact />
  </main>
  <Footer />
</Layout>
